*{
    padding: 0;
    margin: 0;
}
#nav1{
    position: fixed;
    width: 100%;
    height: max-content;
    z-index: 10;
}
nav{
    width: 100%;
    display: flex;
    height: 70px;
    justify-content: space-around;
    align-items: center;
    background-color: transparent;
    position: absolute;
}
nav img{
    width: 120px;
    height: 20px;
}
.menulinks ul{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    list-style: none;
}
.menulinks ul li a{
    text-decoration: none;
    color: black;
}
.menulinks ul li a:hover{
    color: #717FE0;
}
.icons{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.icons i{
    font-size: 18px;
    cursor: pointer;
    position: relative;
}
.icons i:hover{
    color: #717FE0;
}
.navsection1{
    display: flex;
    gap: 80px;
    justify-content: space-between;
}
span{
    background-color: #717FE0;
    width: 12px;
    height: 12px;
    display: flex;
    justify-content: center;
    align-items: center;   
    position: absolute;
    top: -7px;
    left: 13px;
    color: white;
    font-size: 10px;
}
.hamburgermenu{
    display: none;
}
.hamburgermenu i{
    font-size: 20px;
}
.slide-container{
    height: 100vh;
    width: 100%;
    overflow: hidden;
   }
   .slides{
       height: 100%;
       width: 100%;
       display: flex;
   }
   .slide{
       min-width: 100%;
       box-sizing: border-box;
       background-size: cover;
       display: flex;
       align-items: center;
       justify-content: flex-start; 
   }
   .slide div{
    margin-left: 170px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 30px;
   }
   .slide div h1{
       font-size: 50px;
       color: white;
   }
   .slide div button{
        width: 180px;
        height: 50px;
        border-radius: 30px;
        font-size: 20px;
        background-color: #717FE0;
        color: white;
        border: none;
   }
   .slide div button:hover{
       background-color: #001D38;
   
   }
   .slide h2{
    font-size: 40px;
   }
   .slide-container i{
    cursor: pointer;
    font-size: 60px;
    display: none;
    color: gray;
    z-index: 10;
}
.right-arrow{
    position: absolute;
    top: 380px;
    right: 80px;
    z-index: 10;
}
.left-arrow{
    position: absolute;
    top: 380px;
    left: 80px;
    z-index: 10;
}
.menulink{
    text-decoration: none;
    padding: 10px;
    color: white;
}
.menucontainer{
    padding: 15px;
    list-style-type: none;
}
.container{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cards{
    width: 78%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.card{
    border: 1px solid gray;
    cursor: pointer;
    width: 350px;
    background-size: cover;
    height: 230px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    transition: 1s;
}
.card div:last-child{
    width: 100%;
    opacity: 0;
    height: 100%;
    color: white;
    transition: 1s;
}
.salam div{
    margin-top: 30px;
    margin-left: 30px; 
    z-index: 2000;
    color: white;
    display: block;
    height: max-content;
    width: max-content;
}
.card div:first-child{
    margin-top: 30px;
    margin-left: 30px;
}
.card:hover div:first-child{
    display: none;
    transition: 1s;

}
.card:hover .salam{
    display: block; 
    opacity: 0.8;
    background-color: #8591DE;
}
@media only screen and (max-width: 450px){
    nav{
        justify-content: center;
        background-color: white;
    }
}
@media only screen and (max-width: 600px){
    .slide div h1{
        font-size: 45px;
    }
    .slide div h2{
        font-size: 28px;
    }
    nav{
        background-color: white;
    }
}
@media only screen and (max-width: 777px){
    nav{
        background-color: white;
    }
}
@media only screen and (max-width: 991px){
    .menulinks{
        display: none;
    }
    .hamburgermenu{
        display: block;
        margin-right: 10px;
    }
    nav{
        justify-content: space-between;
    }
    .navsection1 img{
        margin-left: 10px;
    }
    .slide div{
        margin: 10px;
    }
    nav{
        background-color: white;
    }
}
@media only screen and (min-width: 992px) {

}